{% block content %}
{% include "header.html" %}

                <div class="row mt-5 ml-3">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-2">
                                        <div class="row">
                                            <select id="" class="form-control-sm-sm">
                                                <option>Globle</option>
                                                <option>Butterfly</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-2 ml-2">
                                        <div class="row">
                                            <select id="" class="form-control-sm-sm">
                                                <option>Contoured</option>
                                                <option>Ported</option>
                                                <option>Anti-Cav</option>
                                                <option>Anti-Noise</option>
                                                <option>Double Offset</option>
                                                <option>Triple Offset</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-2 ml-2">
                                        <div class="row">
                                            <select id="" class="form-control-sm-sm">
                                                <option>Equal %</option>
                                                <option>Linear</option>
                                                <option>Mod Eq %</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-2 ml-2">
                                        <div class="row">
                                            <select id="" class="form-control-sm-sm">
                                                <option>Flow Over</option>
                                                <option>Flow Under</option>
                                                <option>Seat Downstream</option>
                                                <option>Seat Upstream</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-2 ml-2">
                                        <div class="row">
                                            <select id="" class="form-control-sm-sm">
                                                <option>150</option>
                                                <option>300</option>
                                                <option>600</option>
                                                <option>900</option>
                                                <option>1500</option>
                                                <option>2500</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="row">
                                    <div class="col-7">
                                        <button type="button" class="btn btn-info valve_btn">Get Valves</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-4 ml-3">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-3 selectvalve_borderbottom" >
                                <div class="row">
                                    <div class="col-3 selectvalve_borderleft">
                                        <div class="row sizingtableleft"></div>
                                        <div class="row sizingtable"><p><input type="radio" style="margin-left: 240%;"></p></div>
                                        <div class="row sizingtable"><p><input type="radio" style="margin-left: 240%;"></p></div>
                                        <div class="row sizingtable"><p><input type="radio" style="margin-left: 240%;"></p></div>
                                        <div class="row sizingtable"><p><input type="radio" style="margin-left: 240%;"></p></div>
                                        <div class="row sizingtable"><p><input type="radio" style="margin-left: 240%;"></p></div>
                                    </div>
                                    <div class="col-3 selectvalve_borderleft">
                                        <div class="row sizingtableleft"><p class="sizingp">Valve Size</p></div>
                                        <div class="row sizingtable"><p class="sizingp">100</p></div>
                                        <div class="row sizingtable"><p class="sizingp">100</p></div>
                                        <div class="row sizingtable"><p class="sizingp">100</p></div>
                                        <div class="row sizingtable"><p class="sizingp">100</p></div>
                                        <div class="row sizingtable"><p class="sizingp">100</p></div>
                                    </div>
                                    <div class="col-3">
                                        <div class="row sizingtableleft"><p class="sizingp">Seat Bore</p></div>
                                        <div class="row sizingtable"><p class="sizingp">100</p></div>
                                        <div class="row sizingtable"><p class="sizingp">100</p></div>
                                        <div class="row sizingtable"><p class="sizingp">100</p></div>
                                        <div class="row sizingtable"><p class="sizingp">100</p></div>
                                        <div class="row sizingtable"><p class="sizingp">100</p></div>
                                    </div>
                                    <div class="col-3">
                                        <div class="row sizingtableleft"><p class="sizingp">Travel</p></div>
                                        <div class="row sizingtable"><p class="sizingp">100</p></div>
                                        <div class="row sizingtable"><p class="sizingp">100</p></div>
                                        <div class="row sizingtable"><p class="sizingp">100</p></div>
                                        <div class="row sizingtable"><p class="sizingp">100</p></div>
                                        <div class="row sizingtable"><p class="sizingp">100</p></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-9" >
                                <div class="row">
                                    <div class="col-1 selectvalve_borderbottom">
                                        <div class="row sizingtableleft"><p class="sizingp">10%</p></div>
                                        <div class="row sizingtable"><p class="sizingp">100</p></div>
                                        <div class="row sizingtable"><p class="sizingp">100</p></div>
                                        <div class="row sizingtable"><p class="sizingp">100</p></div>
                                        <div class="row sizingtable"><p class="sizingp">100</p></div>
                                        <div class="row sizingtable"><p class="sizingp">100</p></div>
                                    </div>
                                    <div class="col-1 selectvalve_borderbottom">
                                        <div class="row sizingtableleft"><p class="sizingp">20%</p></div>
                                        <div class="row sizingtable"><p class="sizingp">100</p></div>
                                        <div class="row sizingtable"><p class="sizingp">100</p></div>
                                        <div class="row sizingtable"><p class="sizingp">100</p></div>
                                        <div class="row sizingtable"><p class="sizingp">100</p></div>
                                        <div class="row sizingtable"><p class="sizingp">100</p></div>
                                    </div>
                                    <div class="col-1 selectvalve_borderbottom">
                                        <div class="row sizingtableleft"><p class="sizingp">30%</p></div>
                                        <div class="row sizingtable"><p class="sizingp">100</p></div>
                                        <div class="row sizingtable"><p class="sizingp">100</p></div>
                                        <div class="row sizingtable"><p class="sizingp">100</p></div>
                                        <div class="row sizingtable"><p class="sizingp">100</p></div>
                                        <div class="row sizingtable"><p class="sizingp">100</p></div>
                                    </div>
                                    <div class="col-1 selectvalve_borderbottom">
                                        <div class="row sizingtableleft"><p class="sizingp">40%</p></div>
                                        <div class="row sizingtable"><p class="sizingp">100</p></div>
                                        <div class="row sizingtable"><p class="sizingp">100</p></div>
                                        <div class="row sizingtable"><p class="sizingp">100</p></div>
                                        <div class="row sizingtable"><p class="sizingp">100</p></div>
                                        <div class="row sizingtable"><p class="sizingp">100</p></div>
                                    </div>
                                    <div class="col-1 selectvalve_borderbottom">
                                        <div class="row sizingtableleft"><p class="sizingp">50%</p></div>
                                        <div class="row sizingtable"><p class="sizingp">100</p></div>
                                        <div class="row sizingtable"><p class="sizingp">100</p></div>
                                        <div class="row sizingtable"><p class="sizingp">100</p></div>
                                        <div class="row sizingtable"><p class="sizingp">100</p></div>
                                        <div class="row sizingtable"><p class="sizingp">100</p></div>
                                    </div>
                                    <div class="col-1 selectvalve_borderbottom">
                                        <div class="row sizingtableleft"><p class="sizingp">60%</p></div>
                                        <div class="row sizingtable"><p class="sizingp">100</p></div>
                                        <div class="row sizingtable"><p class="sizingp">100</p></div>
                                        <div class="row sizingtable"><p class="sizingp">100</p></div>
                                        <div class="row sizingtable"><p class="sizingp">100</p></div>
                                        <div class="row sizingtable"><p class="sizingp">100</p></div>
                                    </div>
                                    <div class="col-1 selectvalve_borderbottom">
                                        <div class="row sizingtableleft"><p class="sizingp">70%</p></div>
                                        <div class="row sizingtable"><p class="sizingp">100</p></div>
                                        <div class="row sizingtable"><p class="sizingp">100</p></div>
                                        <div class="row sizingtable"><p class="sizingp">100</p></div>
                                        <div class="row sizingtable"><p class="sizingp">100</p></div>
                                        <div class="row sizingtable"><p class="sizingp">100</p></div>
                                    </div>
                                    <div class="col-1 selectvalve_borderbottom">
                                        <div class="row sizingtableleft"><p class="sizingp">80%</p></div>
                                        <div class="row sizingtable"><p class="sizingp">100</p></div>
                                        <div class="row sizingtable"><p class="sizingp">100</p></div>
                                        <div class="row sizingtable"><p class="sizingp">100</p></div>
                                        <div class="row sizingtable"><p class="sizingp">100</p></div>
                                        <div class="row sizingtable"><p class="sizingp">100</p></div>
                                    </div>
                                    <div class="col-1 selectvalve_borderbottom">
                                        <div class="row sizingtableleft"><p class="sizingp">90%</p></div>
                                        <div class="row sizingtable"><p class="sizingp">100</p></div>
                                        <div class="row sizingtable"><p class="sizingp">100</p></div>
                                        <div class="row sizingtable"><p class="sizingp">100</p></div>
                                        <div class="row sizingtable"><p class="sizingp">100</p></div>
                                        <div class="row sizingtable"><p class="sizingp">100</p></div>
                                    </div>
                                    <div class="col-1 selectvalve_borderbottom">
                                        <div class="row sizingtableleft"><p class="sizingp">100%</p></div>
                                        <div class="row sizingtable"><p class="sizingp">100</p></div>
                                        <div class="row sizingtable"><p class="sizingp">100</p></div>
                                        <div class="row sizingtable"><p class="sizingp">100</p></div>
                                        <div class="row sizingtable"><p class="sizingp">100</p></div>
                                        <div class="row sizingtable"><p class="sizingp">100</p></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row mt-3">
                        <div class="col-7">
                            <button type="button" class="btn btn-info valve_btn_select">Select  Valve</button>
                        </div>
                    </div>
                </div>
                <!-- <div class="btn">
                    <button type="button" class="btn btn-info valve_btn">Select Valve</button>
                </div> -->
{% include "footer.html" %}
{% endblock %}